.gs_accordion {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
/**
 * --------------------------------------------------------------
 * Section
 * --------------------------------------------------------------
 */
.gs_accordion .accordion_in {
  border-bottom: 1px solid #ebebeb;
  position: relative;
  z-index: 10;
  margin-top: -1px;
  overflow: hidden;
}
.gs_accordion .accordion_in:last-child{border:0px;}
/**
 * --------------------------------------------------------------
 * Head
 * --------------------------------------------------------------
 */
.gs_accordion .accordion_in .acc_head {
  position: relative;
  padding: 10px;
  font-size: 15px;
  display: block;
  cursor: pointer;
  color:#464b5a;
  font-weight:600;
}
.gs_accordion .accordion_in .acc_head .acc_icon_expand {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  right:0px;
  top: 50%;
  margin-top: -9px;
  background: url(../images/plusminus.png) center 0;
}
/**
 * --------------------------------------------------------------
 * Content
 * --------------------------------------------------------------
 */
.gs_accordion .accordion_in .acc_content {
  color: #464b5a;
  padding: 3px 10px;
}
.gs_accordion .accordion_in .acc_content ul{padding:10px 0px 10px 20px; margin:0px;}
.gs_accordion .accordion_in .acc_content ul li{list-style-type:none; display:block; padding:4px 0px;}
.gs_accordion .accordion_in .acc_content ul li a{font-size:13px;}
.gs_accordion .accordion_in .acc_content ul li a:hover{color:#000;}
.gs_accordion .accordion_in .acc_content h1:first-of-type,
.gs_accordion .accordion_in .acc_content h2:first-of-type,
.gs_accordion .accordion_in .acc_content h3:first-of-type,
.gs_accordion .accordion_in .acc_content h4:first-of-type,
.gs_accordion .accordion_in .acc_content h5:first-of-type,
.gs_accordion .accordion_in .acc_content h6:first-of-type {
  margin-top: 5px;
}
/**
 * --------------------------------------------------------------
 * General
 * --------------------------------------------------------------
 */
.gs_accordion .accordion_in:first-of-type,
.gs_accordion .accordion_in:first-of-type .acc_head {
  border-radius: 3px 3px 0 0;
}
.gs_accordion .accordion_in:last-of-type,
.gs_accordion .accordion_in:last-of-type .acc_content {
  border-radius: 0 0 3px 3px;
}
.gs_accordion .accordion_in.acc_active > .acc_content {
  display: block;
}
.gs_accordion .accordion_in.acc_active > .acc_head {
	border-bottom:1px solid #ebebeb;
}
.gs_accordion .accordion_in.acc_active > .acc_head .acc_icon_expand {
  background: url(../images/plusminus.png) center -18px;
}
.gs_accordion.acc_with_icon .accordion_in .acc_head,
.gs_accordion.acc_with_icon .accordion_in .acc_content {
  padding-right: 20px;
}
