
         .outer-wrapper{
                height: 100vh;
            background: #ccc;
            background-size: cover;
        }
        .login-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            min-height: 100%;
        }
        
        .login {
            border-radius: 2px 2px 5px 5px;
            padding: 10px 20px 20px 20px;
            width: 90%;
            max-width: 320px;
            background: #ffffff;
            position: relative;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
        }
        
        .login h2 {
            text-align: center;
            margin: 0px;
            padding: 0;
        }
        
        .login ul {
            display: block;
            margin: 10px 0 0 0;
            padding: 0;
        }
        
        .login li {
            display: block;
            margin: 8px 0;
            padding: 0;
            overflow: hidden;
        }
        
        .login li input {
            display: block;
            width: 95%;
            border: #ddd solid 1px;
            padding: 6px;
        }
        
        .login li button {
            padding: 4px 6px;
            background: #c05805;
            border: #c05805 solid 1px;
            color: #fff;
            cursor: pointer;
            -webkit-border-radius: 4px;
            border-radius: 4px;
        }
        
        .login li span {
            display: inline-block;
            vertical-align: top;
        }
        
        .login li a {
            font-size: 13px;
        }
        
        .login li span a {
            font-size: 12px;
            color: #555;
        }
        
        .login li span:last-child {
            float: right;
        }
        
        .text-center {
            text-align: center;
        }