.navigation{
	position: fixed;
	margin-left: 0px;
	top: 44px;
	width: 200px;
	background-color: #fff;
	 display: block;
   left: 0;
   -webkit-box-shadow: 2px 0 5px 0 rgba(51, 51, 51, 0.10);
   box-shadow: 2px 0 10px 0 rgba(51, 51, 51, 0.10);
	height: 100%

}
.navigation ul{
	display: block;
	margin: 0;
	padding: 0;
}
.navigation li{
	display: block;
	margin-left: 0;
	padding: 0;
}
.navigation li a{
	display: block;
	margin:0;
	padding: 8px 10px;
	color:#e0ac0d;
	border-bottom: #f1f1f1 solid 1px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
}
.navigation li a:hover,.navigation li.selected a{
	background: #e0ac0d;
	border: 0;
	color: #fff;

}
.main-wrapper{
	margin-left: 200px;
	padding: 0;
}
.main-head{
	display: block;
	position: fixed;
	width: 100%;
	background: #2e2300;
	-webkit-box-shadow: 0px 0 1px 1px rgba(51, 51, 51, 0.10);
   box-shadow: 0px 0 1px 1px rgba(51, 51, 51, 0.10);
	padding: 5px 20px;
	text-align: right;
	margin: 0px;
	z-index: 99;
}
.main-head .logout-btn {
	display: inline-block;;
    padding: 6px 8px;
    color: #fff;
    background: #e0490d;
    border: 0px;
    -webkit-border-radius: 4px;
	border-radius: 4px;
}
.content-wrapper{
	display: block;
	padding: 20px;
}
.main-content{
	display: block;
	min-height: 500px;
	background: #fff;
	-webkit-box-shadow: 0px 0 1px 1px rgba(51, 51, 51, 0.10);
   box-shadow: 0px 0 1px 1px rgba(51, 51, 51, 0.10);
	padding: 20px;
}
.main-content table{
	width: 100%;

}
.main-content table thead tr{
	border-bottom: #f1f1f1 solid 2px;
}
.main-content table tbody tr{
	border-bottom: #f1f1f1 dotted 1px;
}
.main-content table thead th, .main-content table tbody td{
		padding: 6px 8px;
}
.main-content table tbody td:nth-child(1){
	width: 40%;

}
.features-block{
	display: block;
	margin: 0;
	padding: 8px 0 20px 0;
}
.features-block ul{
	display: block;
	margin: 0;
	padding: 0;
}
.features-block li{
	display: inline-block;
	margin-right: 8px;
}
.features-block li input[type="text"]{
	padding: 6px;
	border: #ddd solid 1px;
}
.editor-block{
	display: block;
	margin-bottom: 10px;
}
.editor-block textarea{
	height: 350px;
}
.editor-block .control-btn{
	margin-top: 8px;
	margin-right: 10px;
	margin-bottom: 8px;
	padding: 6px 8px;
	color: #fff;
	background: #c05805;
	border: #c05805 solid 1px;
	-webkit-border-radius: 4px;
border-radius: 4px;
}
.footer-action{
	display: block;
	text-align: center;
}
.search-block{
	display: block;
	margin-bottom: 20px;
}
.search-block label, .vertical-list li label{
	display: inline-block;
	margin-right: 10px;
	min-width: 80px;
	font-weight: normal;
}
.search-block input[type="text"],
.vertical-list li input[type="text"],
.vertical-list select {
	padding: 6px;
	background :#fff;
	border: #ddd solid 1px;
	min-width: 820px;
	max-width: 820px;
}
.vertical-list select option{
	width: 100%;
	overflow: hidden;
}
.search-block input[type="text"]{
	min-width: 810px
}
.search-block button{
    margin-left: 10px;
    padding: 6px 8px;
    color: #fff;
    background: #c05805;
    border: #c05805 solid 1px;
    -webkit-border-radius: 4px;
border-radius: 4px;
}
.search-block button:focus{
	border: #c05805 solid 1px;
}
.vertical-list{
	display: block;
	margin: 28px 0;
	padding: 0;
}
.vertical-list li{
	display: block;
	margin: 8px 0;
}
.rc-pagination {
	margin-top: 20px;
	padding: 0;
	text-align: center !important;
}

.rc-pagination-item, .rc-pagination-prev, .rc-pagination-next, .rc-pagination-jump-prev, .rc-pagination-jump-next{
     display: inline-block;
     float: none !important;	
}
.rc-pagination-item-active{
	background: #db9501 !important;
	border:  #db9501 solid 1px !important;
}
.question-block{
	display: block;
	margin:15px 0;
}
.question-block:before,.question-block:after{
	content: '';
	clear: both;
	display: table;
}
.qust-date{
	display: block;
	float: left;
	width: 7%;
	position: relative;
	padding: 5px 0px;
	background: #00a751;
	margin-right: 20px;
	-webkit-border-radius: 3px 3px 0 3px;
	border-radius: 3px 3px 0 3px;
}
.qust-date:before{
	width: 0;
	position: absolute;
	bottom: 0px;
	right: -15px;
	content: '';
	height: 0;
	border-style: solid;
	border-width: 15px 0 0 15px;
	border-color: transparent transparent transparent #00a751;


}
.qust-date .month, .qust-date .date, .qust-date .year{
	display: block;
	margin: 2px 0;
	text-align: center;
	color: #fff;

}
.qust-date .date{
	font-size: 20px;
}

.quest-content{
	display: block;
	float: left;
	padding: 10px;
	border: #ddd solid 1px;
	width: 80%;

}
.quest-content a{
	cursor: pointer;
}
.answer-text{
	display: none;
}
.answer-text textarea{
	width: 100%;
	border: #ddd solid 1px;
	padding: 6px;
}
.quest-content h3{
	margin: 0;
	padding: 0;
	font-size: 17px;
}
.quest-content .user-name{
	font-size: 12px;
	color: #333;
}
.ReactModalPortal{
	position: relative;
}
.ReactModalPortal h2{
	margin: 0;
	padding: 0;
	color: #00a751 !important;
	font-size: 16px;
}
.ReactModalPortal .close-answer{
	position: absolute;
	top: 4px;
	right: 4px;
	width: 15px;
	height: 15px;
	-webkit-border-radius:50%;
	border-radius: 50%;
	background: #ddd;
	color: #00a751;
	font-size: 11px;
	text-align: center;
	line-height: 15px;
	cursor: pointer;
}
.ReactModalPortal textarea{
	width: 100%;
	border: #ddd solid 1px;
	margin: 6px 0;
	height: 180px;
}
.ReactModalPortal button{
	padding: 4px 6px;
	background: #00a751;
	border: #00a751 solid 1px;
	color: #fff;
	float: right;
}
.ReactModal__Overlay div {
	width: 500px;
}
.news-image{
	width: 50%;
}
.news-image img{
	display: inline-block;
	max-width: 100%;
	margin-left: 90px;
}

.user-name{
	margin-right: 35px;
	color: #fff;
}
.cancel-btn{
	display: inline-block;
	margin-left: 90px;
}



.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #e0ac0d; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}